body {
    font-family: ;
    font-size: ;

}

main {
    max-width: 767px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;

}

main section h2 {
	color: #536878;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}

main section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}
header, footer {
    text-align: center;
    background-color: #000099;
}