@media only screen and (min-width: 60em) {
    .cardscontainer {
        max-width: 1200px;
        margin: 0 auto 15px auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;
        
    }
    .card1, .card2, .card3, .card4 {
        border: 1px solid #333;
        box-shadow: 0 0 5px rgb(71, 71, 71);
        padding: 10px;
    }
    .cardscontainer img {
        max-width: 250px;
    }
    
}