/*Medium viewport*************/

@media only screen and (min-width: 37.5em) {
.navigation {
    display: flex;
}
.navigation li {
    display: block;
    flex: 1 1 auto;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}
.forecast table {
	display: flex;
	justify-content: center;
	width: 300px;
	margin: auto;
	background-color: #FFCF6C;
	border: 1px solid #333;
	border-spacing: 5px;
	font-family:  'heebo', serif;
}

td {
	text-align: center;
}
.forecast img {
	width: 70px;
}
.weathersummary {
    width: 300px;
    margin: 0 auto 20px auto;
}
.weathercontactcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 1fr;
    max-width: 960px;
    margin: 0 auto;
}
.weathersummary {
    grid-column: 1;
    grid-row: 1;
}
.forecast {
    grid-column: 1;
    grid-row: 2;
}
.contact {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}
.rentaldiv {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 15px;
	background-color: #e0ffff;
	max-width: 960px;
	width: 100%;
	margin: 15px auto;
	border: 1px solid #333;
	/* box-shadow: 0 0 5px rgb(71, 71, 71); */
}
.rentaldiv img {
	width: 100%;
	grid-column: 2;
	grid-row: 1 / 3;

}
.rentalinfo {
	grid-column: 1;
}
.rentaldiv h2 {
	margin: 10px auto 0 auto;
}
.contactmap {
	max-width: 960px;
	margin: 0 auto 10px auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}
.cardscontainer {
	max-width: 660px;
    margin: 0 auto 15px auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 5px;
}
.card1, .card2, .card3, .card4 {
	border: 1px solid #333;
	box-shadow: 0 0 5px rgb(71, 71, 71);
	padding: 10px;
	max-width: 300px;
	margin-bottom: 15px;
}
.card1 img, .card2 img, .card3 img, .card4 img {
	margin: 0 auto;
}

.scooterdiv {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 15px;
	background-color: #e0ffff;
	max-width: 960px;
	width: 100%;
	margin: 15px auto;
	border: 1px solid #333;
	
}
.scooterdiv img {
	width: 100%;
	grid-column: 2;
	grid-row: 1 / 3;

}
.scooterinfo {
	grid-column: 1;
}
.scooterdiv h2 {
	margin: 10px auto 0 auto;
}

.forecast td, .forecast th {
	border: none;
}
footer {
	background-color: #008b8b;
	display: grid;
	grid-template-columns: 1fr 200px;
}
.social {
	grid-column: 2;
	padding-top: 10px;
}
footer a {
	text-align: center;
	}
footer a:visited {
	text-align: center;
	}
.address img {
	height: 30px;
}



}