/*Small phone view************/
#38c3c3, #66ffe4, #befff5, #ff1c9c,#ff94e0
main {
	max-width: 960px;
	margin: 0 auto;
}
header {
	background-color:white;
	display: flex;
	align-items:center;
	justify-content:center;
}


header img {
	width: 60%;
	margin: 0 auto;
}

.headings {
	color: black;
	
	
}

.headings h2  {
	font-size: 1.6rem;
    color: #ff1c9c;
}
.headings h1{
	color: #ff1c9c;
}
h1, h2, h3, h4 {
	font-family: 'Lora', serif;
    text-align: center;
    font-weight: bold;

}
h4 {
	margin: 10px;
}
p {
    font-family: 'Heebo', sans-serif; 
}

nav {
	margin: 0 auto;
	background-color: #008b8b;
	/* border: 1px solid #015a5a; */
}
nav ul {
	margin: 0;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
    padding: 0.75rem;
    font-family: 'Heebo', sans-serif;
	text-align: left;
	text-decoration: none;
	color:white;
	/* border: 1px solid #015a5a; */
}
nav ul li.active a {
	background-color: #e0ffff;
	color: rgb(100, 98, 98);
  }
.navigation a:hover {
	background-color: #e0ffff;
	color: rgb(100, 98, 98);
}
.responsive li {
	display: block;
}

ul {
	font-family: 'Heebo', sans-serif;
}
/* button over picture */
.hero-ph img {
	width: 100%;
}
/* .book{
	position: relative;
	
}
.book .btn {
	position: absolute;
	bottom:4em;
	right:4em;
	background-color:#8F0005;
	border-radius:1em;
	color:white;
	text-transform:uppercase;
	padding:1em 1.5em;
}
.book .btn:hover {
	background-color: black;
} */

.main-hero-container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
.main-hero {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.book-btn {
		position: relative;
		width: 200px;
		bottom: 125px;
		left: 30%;
		right: 60%;
		text-align: center;
		background-image: -webkit-linear-gradient(top, #2fa9eb, #2980b9);
  background-image: -moz-linear-gradient(top, #2fa9eb, #2980b9);
  background-image: -ms-linear-gradient(top, #2fa9eb, #2980b9);
  background-image: -o-linear-gradient(top, #2fa9eb, #2980b9);
  background-image: linear-gradient(to bottom, #2fa9eb, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


.hero-ph {
	margin: 0 auto;
	max-width: 960px;
}


footer {
	background-color: #008b8b;
	display: grid;
	grid-template-columns: 1fr 200px;
}
.social {
	grid-column: 2;
	padding-top: 10px;
}
footer a {
	text-align: center;
	color: black;
}
footer a:visited {
	text-align: center;
	color: black;
}
.address img {
	height: 30px;
}

.weathersummary {
	max-width: 100%;
	background-color:#FFCF6C;
	border: 1px solid #333;
	/* box-shadow: 0 0 5px rgb(71, 71, 71); */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: .5em;
	margin-bottom: 20px;
}

.weathersummary h3 {
	grid-column: span 2;
	justify-self: center;
	margin: 10px auto;
}
.weathersummary section ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.categories {
	grid-column: 1;
	grid-row: 2;
}
.numbers {
	grid-column: 2;
	grid-row: 2;
}
section.categories ul li {
	text-align: right;
}
.forecast table {
	justify-content: center;
	width: 100%;
	margin: auto;
	background-color: #FFCF6C;
	border: 1px solid #333;
	display: none;
	border-spacing: 5px;
	/* box-shadow: 0 0 5px rgb(71, 71, 71); */
}
td, th {
	text-align: center;
}

.forecast img {
	width: 70px;
}
.rentaldiv {
	display: block;
	background-color: #e0ffff;
	max-width: 960px;
	width: 100%;
	margin: 15px auto;
	border: 1px solid #333;
}
.rentaldiv img {
	width: 100%;
	
}

.rentaldiv h2 {
	margin: 10px auto 0 auto;
}

article {
	max-width: 960px;
	margin: 0 auto 25px auto;
}
article img {
	float: left;
	max-width: 300px;
	padding-right: 15px;
}
.map1 img {
	margin: 0 auto;
	max-width: 100;
}
.contact {
	max-width: 75%;
	text-align: center;
	margin: 0 auto 20px auto;
	
}
.contact h2 {
	margin: 0 auto;
}
.cardscontainer {
	display: block;
	
}
.card1, .card2, .card3, .card4 {
	border: 1px solid #333;
	padding: 10px;
	
}
.card4 {
	margin-bottom: 15px;
}
.cardscontainer img {
	width: 100%;
	/* max-width: 250px; */
}
/* contact form */
fieldset {
	max-width: 550px;
	margin: 0 auto 25px auto;
	border: none;
	background-color:  #e0ffff;
	display: flex;
	flex-direction: column;
	font-family: 'Heebo', sans-serif;
}
legend {
	text-align: center;
}
input {
	height: 40px;
	font-family: 'Heebo', sans-serif;
	margin: 10px;
}
input[type="submit"] {
  	border: 0px;
  	margin: 15px auto 5px auto;
  	padding: 10px;
  	text-align: center;
  	width: 50%;
  	background: #008b8b;
  	color: black;
  	text-transform: uppercase;
  	letter-spacing: 2px;
  	font-weight: bold;
  	border-radius: 25px;
  	cursor: pointer;
}
textarea {
	margin: 10px;
}
.contactmapheadings h2{
	margin-bottom: -5px;
}
.thanks {
	max-width: 400px;
	margin: 15px auto;
	border: 1px solid gray;
	padding: 10px;
}
label {
	padding-top: 10px;
	padding-left: 15px;
}
/* .check-box {
	
}
.agree {
	text-align: center;
} */


/* rental page info */
.scooterdiv {
	display: block;
	background-color: #e0ffff;
	max-width: 960px;
	width: 100%;
	margin: 15px auto;
	border: 1px solid #333;
	/* box-shadow: 0 0 5px rgb(71, 71, 71); */
}
.scooterdiv img {
	width: 100%;
}

.scooterdiv h2 {
	margin: 10px auto 0 auto;
}
.scooterdiv ul {
	list-style-type: none;
}
.prices {
	
	width: 500px;
	margin: 20px auto 20px auto;
	background-color: #FFCF6C;
	border: 1px solid #333;
	border-spacing: 5px;
	font-family:  'heebo', serif;border-collapse: collapse;
}
.prices table, td, th {
	border: 1px solid #333;
}