/*Small phone view************/
#38c3c3, #66ffe4, #befff5, #ff1c9c,#ff94e0
main {
	max-width: 960px;
	margin: 0 auto;
}

header {
	/* background-color: #00A6ED; */
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 100%;
    margin: 0;
    /* padding: 20px; */
}

.headings {
	/* display: flex;
	flex-direction: column; */
	color: white;
	/* line-height: 1.2em; */
}

.headings h2 {
	font-size: 1.6rem;
    color: #0D2C54;
}
h1, h2, h3, h4 {
	font-family: 'Lora', serif;
    text-align: center;
    font-weight: bold;

}
h4 {
	margin: 10px;
}
p {
    font-family: 'Heebo', sans-serif; 
}

nav {
	margin: 0 auto;
	background-color: #008b8b;
	/* border-top: solid 1px gray; */
}
nav ul {
	margin: 0;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
    padding: 0.75rem;
    font-family: 'Heebo', sans-serif;
	text-align: left;
	text-decoration: none;
	color:white;
}
nav ul li.active a {
	background-color: #e0ffff;
	color: rgb(100, 98, 98);
  }
.navigation a:hover {
	background-color: #e0ffff;
	color: rgb(100, 98, 98);
}
.responsive li {
	display: block;
}

ul {
	font-family: 'Heebo', sans-serif;
}
footer {
	background-color: #008b8b;
	display: grid;
	grid-template-columns: 1fr 200px;
}
.social {
	grid-column: 2;
}
.address img {
	height: 30px;
}

.weathersummary {
	max-width: 100%;
	background-color:#ff94e0;
	padding: 1rem 1rem;
	border: 1px solid #333;
	box-shadow: 0 0 20px rgb(71, 71, 71);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: .5em;
}
.weathersummary h3 {
	grid-column: span 2;
	justify-self: center;
	margin: 0;
}
.weathersummary section ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.categories {
	grid-column: 1;
	grid-row: 2;
}
.numbers {
	grid-column: 2;
	grid-row: 2;
}
section.categories ul li {
	text-align: right;
}