/*Small phone view************/
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap');*/

header {
	background-color: #00A6ED;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 80px;
	height: auto;
	padding: 20px;
}

.headings {
	display: flex;
	flex-direction: column;
	color: #0d2c54;
	line-height: 1.2em;
}
h1 {
    font-family: 'Roboto Slab', serif; 
}
.headings h1 {
	font-size: 1.6rem;
    color: #0D2C54;
}
h2, h3, h4 {
	font-family: 'Roboto Slab', serif;
	text-align: center;
}
p {
    font-family: 'Open Sans', sans-serif; 
}

nav {
	margin: 0 auto;
	background-color: #ffb400;
	border-top: solid 1px gray;
}
nav ul {
	margin: 0;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
    padding: 0.75rem;
    font-family: 'Open Sans', sans-serif;
	text-align: left;
	text-decoration: none;
	color: #0d2c54;
    font-weight: 700;
}
nav ul li.active a {
    background-color:#00A6ED;
  }
.navigation a:hover {
	color: white;
	background-color: #0d2c54;
}
.responsive li {
	display: block;
}

ul {
	font-family: 'Open Sans', sans-serif;
}

/*image effects*/

main {
	max-width: 100%;
}

.image-gallery img[data-src] {
    min-width: 50px;
    min-height: 50px;
    filter: blur(.2em);
}
.image-gallery img {
    width: 100%;
    filter: blur(0em);
    transition: filter 0.5s;
}

figcaption {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color:  #0d2c54;
}

/*footer*/

  footer {
	color:  #0d2c54;
	background-color: #00A6ED;
	padding: 5px;
	align-items:center;
	justify-content:center;
	text-align: center;
	line-height: 1.25;
	margin: 10px auto 0;
}

form {
	max-width: 400px;
	margin: 0 auto;
	background-color: rgb(238, 237, 237);
	border: 2px solid gray;
	padding: 20px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

fieldset {
	padding: 10px;
	border: none;
}
legend {
	font-weight: 600;
	font-size: 1.2rem;
}
input {
	display: block;
	margin: 5px auto;
	align-items: center;
	font-family: 'Roboto Slab', serif;
}
label {
	font-size: 13px;
	padding-top: 10px;
}
.selection {
	display: inline-block;
	padding: 5px;
}
button {
	cursor: pointer;
}
/* article */


/* town cards */

