@media only screen and (min-width: 60em) {
    header {
        margin: 0 auto;
    }
    header img {
        width: 150px;
    }

	.headings h1 {
		font-size: 3rem;
	}
    
    footer {
        max-width: 960px;
        margin: 0 auto;
    }
    .weathersummary {
		position: absolute;
        opacity: .9;
        top: 40px;
	    left: 700px;
	}
}
