/*Medium viewport*************/

@media only screen and (min-width: 37.5em) {
/* and (max-width: 59em) { */
    main, footer {
        max-width: 960px;
        margin: 10px auto 0;
    }
    header img {
		width: 100px;
	}
	header {
		width: 100%;
	}

	.headings h1 {
		font-size: 2.5rem;
	}
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
    }
    
	.weathersummary {
		position: absolute;
		opacity: .9;
		top: 40px;
	    right: 20px;
	}
	.news img {
		float: right;
		padding: 30px 20px 0 10px;
		max-width: 300px;
		 
	}
	table {
		display: flex;
	}
	.contact {
		display: flex;
		justify-content: space-evenly;
		text-align: center;
		flex-direction: row;
		align-items: center;

	}
	.contact img {
		margin: 0;
	}
	.image-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin: 0 1em;
    }
    .image-gallery figure {
        margin: 1em .5em;
	}
	
	.towndata section {
		max-width: 600px;
		margin: .5rem auto;
		background-color: white;
		box-shadow: 0 5px 15px #bbb;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.towndata section:nth-child(even) img { 
		grid-column: 1;
		grid-row: 1;
	}

	
}
