/*Small phone view************/
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap');*/
main {
	max-width: 960px;
	margin: 0 auto;
}

header {
	background-color: #00A6ED;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 80px;
	height: auto;
	padding: 20px;
}

.headings {
	display: flex;
	flex-direction: column;
	color: #0d2c54;
	line-height: 1.2em;
}
h1 {
    font-family: 'Roboto Slab', serif; 
}
.headings h1 {
	font-size: 1.6rem;
    color: #0D2C54;
}
h2 {
	font-family: 'Roboto Slab', serif;
	text-align: center;

}
h4 {
	margin: 10px;
}
p {
    font-family: 'Open Sans', sans-serif; 
}

nav {
	margin: 0 auto;
	background-color: #ffb400;
	border-top: solid 1px gray;
}
nav ul {
	margin: 0;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
    padding: 0.75rem;
    font-family: 'Open Sans', sans-serif;
	text-align: left;
	text-decoration: none;
	color: #0d2c54;
    font-weight: 700;
}
nav ul li.active a {
    background-color:#00A6ED;
  }
.navigation a:hover {
	color: white;
	background-color: #0d2c54;
}
.responsive li {
	display: block;
}

ul {
	font-family: 'Open Sans', sans-serif;
}
/* footer {
	background-color: #00A6ED;
	padding: 5px 0;
	align-items:center;
	justify-content:center;
	text-align: center;
	line-height: 1.5;
} */
.herodiv {
	position: relative;
}

.hero-ph {
	margin: 10px auto;
}
.herodiv img {
	width: 100%;
}
/* weather summary box*/

.weathersummary {
	max-width: 100%;
	background-color: #ffb400;
	padding: 1rem 1rem;
	border: 1px solid #333;
	box-shadow: 0 0 20px rgb(71, 71, 71);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: .5em;
}

.weathersummary h3 {
	grid-column: span 2;
	justify-self: center;
	margin: 0;
}
.weathersummary section ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.categories {
	grid-column: 1;
	grid-row: 2;
}
.numbers {
	grid-column: 2;
	grid-row: 2;
}
section.categories ul li {
	text-align: right;
}
/*pancake message*/
.message {
	width: 100%;
	background-color: #96d40f;
	text-align: center;
	padding: 5px 0;
	margin: 0 auto;
	
}

/* 5 day forecast*/

table {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
	background-color: #00A6ED;
	border: 1px solid #333;
	display: none;
	border-spacing: 5px;
	font-family:  'Roboto Slab', serif;
}
td {
	text-align: center;
}
.forecast img {
	width: 70px;
}
/*article*/
.news {
	padding: 25px 0;
}
.news img {
	margin: auto;
	max-width: 100%; 
}
.contact {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column-reverse;
}

.contact img {
	width: 300px;
	margin: 0 auto;
	max-width: 100%;
}
.social img {
	width: 40px;
}
.address img {
	width: 20px;
}
/*footer*/

footer {
	color:  #0d2c54;
	background-color: #00A6ED;
	padding: 5px 0;
	align-items:center;
	justify-content:center;
	text-align: center;
	line-height: 1.5;
}

footer a:link {
	text-decoration: none;
}
footer a:visited {
	color: black;
	font-family: 'Open Sans', sans-serif;
}


article {
	max-width: 650px;
 	margin: .5rem auto;
	background-color: white;
	padding: 20px;
	box-shadow: 0 5px 15px #bbb;
}
article img {
		box-shadow: 0 0 1em;
		width: 75%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	
}
/*town info*/
.towndata section {
	max-width: 600px;
  	margin: .5rem auto;
	/* border: 1px solid #bbb; */
	background-color: white;
	text-align: center;
	padding: 20px;
	box-shadow: 0 5px 15px #bbb;
}

.towndata img {
	max-width: 100%;
}

/* storm center page */

form {
	max-width: 400px;
	margin: 0 auto;
	background-color: rgb(238, 237, 237);
	border: 2px solid gray;
	padding: 20px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

fieldset {
	padding: 10px;
	border: none;
}
legend {
	font-weight: 600;
	font-size: 1.2rem;
}
input {
	display: block;
	margin: 5px auto;
	align-items: center;
	font-family: 'Roboto Slab', serif;
}
label {
	font-size: 13px;
	padding-top: 10px;
}
.selection {
	display: inline-block;
	padding: 5px;
}
button {
	cursor: pointer;
}

/* events box */
.cityevents {
	border: 2px solid #ffb400;
	max-width: 500px;
	margin: 20px auto;
}

.cityevents ul {
	list-style: none;
}
	
